
body {
	padding: 0px;
	margin: 0px;
}

.body-content {
	min-height: 800px;
	background-color: #FFFFFF;
	margin: 20px
}

.logo {
	position: absolute;
	z-index: 1;
	left: 5%;
}

.navbar {
	position: relative;
	top: 30px;
	height: 50px;
}

.menuStyle {
	font-size: 17px;
}

footer {
	height: 90px;
	background-color: forestgreen;
	color: #FFFFFF;
	text-align: center;
	width: 100%;
	left: 0;
	bottom: 0;
	border: 0.5px solid #000000;
}

.city-operations-footer {
	font-size: 20px;
	margin-top: 10px;
}
