
body {
	padding: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	font-size: 15px;
	position: relative;
	padding-bottom: 10vh;
	min-height:100vh;
}
h1, h2, h3, h4, ul{
	margin:0;
	padding:0;
}

.body-content {
	min-height: calc(100vh -10vh - 61.5px);
}


.logo {
	position: absolute;
	z-index: 1;
	left: 5%;
}

.navbar {
	position: relative;
	/*top: 20px;*/
}

.bg-dark{
	background-color:#000000 !important;
}

.dropdown-setting {
	padding-left: 10px;
	margin-bottom:5px;
}

.dropdown-setting:hover {
	color: #FFF;
	background-color:black;
	opacity:0.5;
}

#Navigation {
	font-size: 17px;
}

footer {
	height: 10vh;
	background-color: forestgreen;
	color: #FFFFFF;
	text-align: center;
	width: 100%;
	position:absolute;
	bottom:0;
	border: 0.5px solid #000000;
}

.city-operations-footer {
	font-size: 20px;
	margin-top: 10px;
}

.city-operations-footer p{
	margin:0 0 0 0;
}
.denied {
	margin-top: 10%;
}

.glyphicon-plus{
	color:forestgreen;
}