<connectionStrings>
  <add name="COE_db"
       connectionString="Data Source =.; Intitial Catalog = COE_DB; Integrated Security = true"
       providerName ="System.Data.SqlClient"/>
  <add name="DefaultConnection"
       connectionString="Data Source = .; Initial Catalog = COE_DB; Integrated Security = true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>