.info-message {
	margin: 5px auto 5px auto;
	padding: 0 15px;
	height: 50px;
}

.glyphicon-remove{
	font-size:1.3em;
	margin-top:8px;
}
.glyphicon-remove, .glyphicon-trash {
	color: red;
}
.glyphicon-floppy-disk{
	color:forestgreen;
}
.glyphicon-floppy-disk:hover{

}

	/**************************ROUTE PAGE******************************/
	.search-criteria input {
		border: 1px solid black;
		padding: 0 0 0 5px;
	}
.search-area {
	display: flex;
	flex-direction: row;
	border: 1.5px solid black;
	justify-content: space-evenly;
	height:2.5rem;
}
.search-label {
	font-size: 1.4rem;
	font-weight: 500;
	margin: auto;
}
.search-category, .search-criteria, .task-option,
.season-ddl, .go-clear-search, .clear-search {
	margin: auto;
}

.search-box {
	display: flex;
	grid-gap: 20px;
	padding: 0;
	grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
}
.route-status {
	margin: 0;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
}
.route-status .table {
	max-width: 90vw !important;
}
.route-status-menu{
	margin: 20px auto 0 auto;
}

.routesGridView {
	
}

.tabContents {
	border: solid 1px black;
	padding: 15px;
	background-color: white;
	margin-left: auto;
}
/***************************CREW PAGE*******************************/
:root{
	--paneColor: #E8E8E8;
	--tabSelected:#F2F2F2;
	--borderColor: #000000;
	--fontSize:1.1em;
	--tabDefault:4B4B4B;
}
.crew-wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows:84vh 3.5vh;
	grid-template-areas:
		"p p p p p r r r r r r r"
		"s s s s s s s s s s s s";
	grid-column-gap:0.195vw;
	margin: 0 0.39vw;
}
.crew-pane{
	grid-area:p;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:4vh 29vh 50vh;
	grid-row-gap:0.5vh;
}
/*********SEARCH BAR ELEMENTS****************/
.filter-search {
	display: flex;
	border: 2px solid var(--borderColor);
	background-color: var(--paneColor);
	align-items: center;
	padding: 0 10px;
}
/**/.fleet-category {
		font-size: var(--fontSize);
	}
/**/.UnitDDL {
		border-radius: 5px;
		border: 1px solid var(--borderColor);
		font-size: var(--fontSize);
		padding: 2px;
	}
/**/.btn-crew-member {
		border-radius: 2.5px;
		border: 1px solid #000000;
		font-size: var(--fontSize);
	}
/**/.btn-done {
		border-radius: 2.5px;
		border: 1px solid var(--borderColor);
		background-color: forestgreen;
		color: #FFFFFF;
		font-size: var(--fontSize);
	}
/**/.btn-cancel {
		border-radius: 2.5px;
		border: 1px solid var(--borderColor);
		background-color: #E80000;
		color: #FFFFFF;
		font-size: var(--fontSize);
	}
/*********END SEARCH BAR ELEMENTS****************/

/*******CREW SELECTION ELEMENTS******************/
.selection-pane {
	border: 2px solid var(--borderColor);
	background-color: var(--paneColor);
	overflow:auto;
}
/**/.select-employee {
	background-color: #FFFFFF;
	width: 95%;
	margin: 10px auto;
	}
/*******END CREW SELECTION ELEMENTS******************/

/******************CURRENT CREWS**********************/
.current-crews {
	border: 2px solid var(--borderColor);
	border-bottom: 1px solid var(--borderColor);
	background-color: var(--paneColor);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows:4em auto;
	grid-column-gap:5px;
	padding:15px;
	overflow:auto;
}
/**/.crew-header{
		grid-column:1/-1;
		display:flex;
		justify-content:center;
		align-items:center;
		margin-top:5px;
    }
/**//**/.crew-linkbutton{
			margin:0 5px;
	    }
/**/.crew-members{
		grid-column:1;
		margin-bottom:10px;
	}
/**/.job-cards{
		grid-column:2/-1;
		margin-bottom:10px;
	}
/******************END CURRENT CREWS**********************/
/******************JOBCARDS AND ROUTES********************/
.jobcard-routes {
	grid-area: r;
	border: 2px solid var(--borderColor);
	border-bottom: 1px solid var(--borderColor);
	background-color: var(--paneColor);
	overflow: auto;
}
*/**/#JobcardTitle {
		text-align: center;
	}
	.menu-control{
		display:block;
		padding:10px 0 0 50px;
		font-size:var(--fontSize);
		border-bottom:1px solid var(--borderColor);
	}
	.tab-menu{
		display:block;
		border:1px solid var(--borderColor);
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		background-color:var(--tabDefault);
		border-bottom:0;
		padding:10px 20px 10px 10px;
		color: black;
		
	}
	.menu-control > ul{
		list-style:none;
		display:inline-flex;
	}
.activeTab {
	background-color: darkred;
}
	/**/ .jobcard-routes > h3 {
		text-align: center;
		margin: 20px 0;
	}
/**/ .jobsite-lv {
		background-color: #FFFFFF;
		margin:0 auto 10px auto;
		}
/**//**/.btn-finish{
			float:right;
		}
/**/.close-jobcards {
		background-color: #FFFFFF;
		width: 95%;
		margin: 20px auto;
	}
.resize-textbox-multiline {
	min-height: 1.9em;
	width:24vw;
	padding-left:10px;
}

.resize-textbox {
	Width: 6vw;
	padding-left:10px;
}
/******************END JOBCARDS AND ROUTES********************/
.summary {
	grid-area: s;
	border: 1px solid var(--borderColor);
	border-left: 2px solid var(--borderColor);
	border-right: 2px solid var(--borderColor);
	background-color: var(--paneColor);
	/*justify-content: center;
	grid-column: 1/-1;*/
}
.summaryElements {
	padding-left:15px;
	display: inline-grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	/*grid-template-areas: "su su su su su su su su";*/
	grid-column-gap: 10px;
}
.summaryElements > div{
	grid-column: 1;

}
