.crew-content-layout {
	margin: 0 10px 0 10px;
	background-color: #FFFFFF;
	clear:both;
}

.sites-pane {
	border: 2px solid #000000;
	margin: 0 1px 0 0;
	background-color: #E8E8E8;
	height: 84.7vh;
	width: calc(60% - 2.5px);
	float: right;
	overflow: auto;
}

.nav-tabs{
	margin-left:30px;
}
.tab-menu {
	font-size: 20px;
	margin-top: 10px;
}

.menu-button{
	font-size:20px;
	margin: 10px 10px 10px 0;
}

.selection-column {
	float: left;
	margin: 0 0 0 1px;
	width: calc(40% - 2.5px);
}

.truck-selection-pane {
	margin: 0 0 1px 0;
	border: 2px solid #000000;
	height:35px;
}
.UnitDDL {
	margin-top: 2px;
	border-radius:5px;
	border: 1px solid #000000;
}

.fleet-category-selection {
	float: left;
	padding-left: 10px;
}

.crew-member-button {
	border-radius: 2.5px;
	border: 1px solid #000000;
	font-size:16px;
}

.ml-auto {
	float: right;
}

.done-control-button {
	border-radius: 2.5px;
	border: 1px solid #000000;
	background-color: forestgreen;
	color: #FFFFFF;
	font-size: 16px;
	margin: 2px 10px 2px 0;
}

.cancel-crew-button {
	border-radius: 2.5px;
	border: 1px solid #000000;
	background-color: #E80000;
	color: #FFFFFF;
	font-size: 16px;
	margin: 2px 2px 2px 0;
}

.crew-selection-pane {
	height: 32vh;
	border: 2px solid #000000;
	margin-bottom: 3.5px;
	background-color: #E8E8E8;
	text-align: center;
	overflow: auto;
	clear: both;
}

.selectDriver{
	margin:5px;
}
.Cssgrid {
	background-color: #FFFFFF;
}

.align-cell-left {
	text-align: left;
}

.current-crew-pane {
	height: 48.6vh;
	background-color: #E8E8E8;
	border: 2px solid #000000;
	margin-top: 3.5px;
	overflow: auto;
}

.summary {
	height: 5vh;
	width: 98vw;
	margin-left: .5px;
	background-color: #E8E8E8;
	border-bottom: 1px solid #000000;
	border-left: 2px solid #000000;
	border-right: 2px solid #000000;
	clear: both;
}

.crew-member-box {
	float: left;
	margin-right: 10px;
}
.job-card-box{
	float:left;
}

.current-crew-box {
	margin: 20px 5px 20px 5px;
	align-content:center;
	clear: both;
}

.current-crew-header{
	text-align:center;
	clear:both;
}

.crew-header{
	float:left;
	align-content:center;
}
.crew-glyphicon-remove {
	float: left;
	padding-top: 5px;
	margin-left: 20px;
}
.glyphicon-remove{
	color:darkred;
}

.col-12 {
	padding-top:20px;
	clear: both;
}

.info-message {
	margin: 5px auto 5px auto;
	padding: 0 15px;
	height:50px;
}

